<html>
<body>
   	<h1>Counter</h1>
	<p> <%= count %> times</p>
	<form action='/add_two' method="POST">
		<p>Add two counts</p>
		<input type="submit" action='submit' name="">
	</form>
	<form action='/reset' method='POST'>
		<p>Reset Count!</p>
		<input type="submit" action='submit' name="">
	</form>
</body>
</html>