<html>
<body>
   	<h1>Oooo shiny</h1>
	<p><img src="images/zonda.jpeg" alt="Zonda r"></p>
	<p><img src="images/audi.jpeg" alt="Definitely not a toy audi"></p>
	<p><img src="images/bugatti.jpg" alt="Bugatti Veyron"></p>
	<p>vroom vroom</p>
</body>
</html>