<html lang="en">
<head>
	<title>Cats</title>
	<meta charset="utf-8">
</head>
<body>
<h1>Here is a variety of cats</h1>
	<p><a href="gary"><img src="images/large_cat.jpeg" alt="big cat"></a></p>
	<p><a href="ruth"><img src="images/small_cat.jpeg" alt="small cat"></a></p>
	<p><a href="spaghetti"><img src="images/spaghetti_cat.jpeg" alt="Cat that like spaghetti"></a></p>
<p>Aren't they great?</p>
</body>
</html>