<!DOCTYPE html>
<html lang="en">
<head>
	<title>Thanks!</title>
	<meta charset="utf-8">
</head>
<body>
<h1>Submitted Information</h1>
	<p>Name: <%= name %></p>
	<p>Dojo Location: <%= location %> </p>
	<p>Favorite Language: <%= favoritelanguage %></p>
	<p>Comment: <%= comment %></p>
	<form action='/'>
		<button type='submit' action='submit'>Go Back</button>
	</form>
</body>
</html>